/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Filson Pro";
  src: url("/fonts/FilsonProRegular-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Filson Pro";
  src: url("/fonts/FilsonProBold-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
/* Original base styles */
body {
  @apply min-h-screen;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Filson Soft", fallback-font, sans-serif;
}

.home-intro p {
  @apply text-2xl font-semibold leading-9;
}

/* Responsive image styles */
@media (min-width: 1024px) {
  .lg\:prose-xl
    :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply h-[600px] object-cover object-center shadow-lg rounded-md transition-opacity duration-300 ease-in-out;
  }
}

@media (min-width: 640px) {
  .sm\:prose-xl
    :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply h-[300px] object-cover object-center shadow-lg rounded-md transition-opacity duration-300 ease-in-out;
  }
}

.group:hover
  .lg\:prose-xl
  :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply opacity-75;
}

/* Tag overlay and container styles */
.tag-image-container {
  @apply relative overflow-hidden rounded-lg w-full h-[100px];
}

.tag-image-container:hover .tag-overlay {
  @apply opacity-100;
}

.tag-overlay {
  @apply absolute inset-0 flex justify-center items-center rounded-lg transition-all duration-300 ease-in-out bg-black bg-opacity-40;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.tag-image-container:hover .tag-overlay,
.tag-image-container.active .tag-overlay {
  @apply bg-black bg-opacity-60 border-4 border-white;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.frame {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-transparent;
}

.tag-image-container img {
  @apply transition-all duration-300 ease-in-out block w-full h-full bg-black bg-opacity-60;
}

.tag-image-container.active img,
.tag-image-container:hover img {
  @apply scale-105 brightness-75;
}

/* Responsive text size for tag name */
.tag-image-container .tag-name {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl font-bold z-10 shadow-md transition-transform duration-300 ease-in-out;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}

/* Responsive text size for tag name */
.tag-image-container .tag-name {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl font-bold z-10 shadow-md transition-transform duration-300 ease-in-out;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}

/* Use Tailwind's responsive prefix to adjust font size on smaller screens */
@media (max-width: 640px) {
  .tag-image-container .tag-name {
    @apply text-xl; /* Adjust the text size for small devices */
  }
}

/* Default mobile styles */
.imageStyle {
  object-fit: cover;
  object-position: right center;
}

/* Tablet styles */
@media (min-width: 768px) {
  .imageStyle {
    object-position: center center;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .imageStyle {
    object-position: center center;
  }
}
